$docBackground: #412718;
$pageBackground: #5b3a27;
$textColor: #cccccc;
$newsBlock: #e9e9c0;
$navElementBackground: #8f5f26;
$navActiveElementBackground: #ff9900;
$linkColor: #99cc00;
$redColor: #a46461;
$inputBackground: #20130b;
$copyrightBackground: #311d11;