@import 'colors.scss';
@import 'media.scss';

body{
  background: $docBackground;
  color: $textColor;
  max-width: 1690px;
  margin: 0 auto;
  border-left: 1px solid $inputBackground;
  border-right: 1px solid $inputBackground;
}

li{list-style: none}

a{text-decoration: none}

img{
  border: 4px solid $newsBlock;
  box-shadow: 0 0 0 1px $redColor;
  box-sizing: border-box;
}

button{cursor: pointer}

button:focus,
input:focus{outline: none}

@mixin order_form{
  .order{
    border: 1px solid $redColor;
    box-sizing: border-box;
    width: 30%;
    padding: 8px;

    h4{
      font: normal normal 22px 'Georgia', sans-serif;
      border-bottom: 1px solid $textColor;
      padding-bottom: 6px;
      margin-top: 0;
    }

    label{width: 100%}

    input{
      color: $navElementBackground !important;
      width: 98.8%;
      background: $inputBackground;
      border: 1px solid $redColor;
      margin: 4px 0 16px 0;
      height: 22px;
      box-sizing: border-box;

      &:focus{box-shadow: 0 0 1px $navActiveElementBackground}
    }

    &:not(h4){font: normal normal 14px 'Verdana', sans-serif}


    .arrival_date,
    .departure_date{
      display: flex;
      justify-content: space-between;

      input{width: 30%}
    }

    .people_age{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      .adults,
      .children{width: 100%}

      .adult_age,
      .children_age{width: 47%}

      .adult_age{margin-right: 8px}
    }

    button[type="submit"]{
      width: 100%;
      background: $redColor;
      border: 1px solid black;
      color: #fff;
      margin: 10px 0 20px 0;
      padding: 6px 0;
      transition: all 0.2s linear;

      &:hover{box-shadow: 0 0 4px 1px $redColor}

      &:active{outline: none}
    }

    .room_info{
      position: relative;
      top: 15%;

      h4{margin: 0}

      .pdf_file{
        background: $newsBlock;
        border: none;
        padding: 10px;
        color: $redColor;

        img{float: left}

        p{
          width: 80%;
          float: right;
          font: normal normal 11px 'Verdana', sans-serif;
        }
      }
    }
  }
}

.header{
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .logo{
    width: 30%;

    img{
      border: none;
      box-shadow: 0 0 0 0 $redColor;
    }

    p{
      font: bold normal 16px 'Georgia', sans-serif;
      margin: 0;
      color: #fff;
    }
  }

  nav{
    width: 70%;
    height: 110px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: space-between;

    .social_list,
    .menu_list{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
    }

    .menu_list{
      justify-content: flex-end;
      font: normal normal 14px 'Verdana', sans-serif;
      margin-bottom: 0;

      .menu_elem{
        &:not(:last-child){margin-right: 4%}
        background: $navElementBackground;
        height: 42px;

        a{
          color: #fff;
          padding: 13.8px 20px 14.5px 20px;
          line-height: 3;
          transition: all 0.2s linear;

          &:hover{background: $navActiveElementBackground}
        }

          &.active{background: $navActiveElementBackground;

        }

      }
    }

    .social_list{
      margin-top: 10px;
      justify-content: flex-end;

      .social:not(:last-child){margin-right: 20%}
      
      i{
        color: $navElementBackground;
        transition: all 0.2s linear;

        &:hover{color: $navActiveElementBackground}
      }
    }
  }

  .mob_btn{display: none}
  
  .nav_mobile{display: none}
}

.active_gallery_block{
  display: none;
  width: 100%;
  height: 400%;
  z-index: 100;
  background: rgba(0,0,0,0.5);
  position: absolute;

  &.active{display: block}
}

.gallery_images_fullSize{

  .fullSize_image{
    transform: scale(0);
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 500px;
    z-index: 100;
    transition: all 0.4s linear;

    &.active{transform: scale(1)}

    img{
      width: 100%;
      height: 100%;
    }
  }
}

.modal_room_order{
  display: none;
  @include order_form;
  z-index: 50;

  .modal_bg{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 400%;
    position: absolute;
    z-index: 50;
  }

  .order{
    width: 30%;
    padding-top: 0;
    padding-bottom: 0;
    top: 20%;
    left: 35%;
    position: fixed;
    background-color: $docBackground;
    z-index: 1000;
    box-sizing: padding-box;

    .close{
      font-weight: bold;
      font-size: 20px;
      color: $redColor;
      cursor: pointer;
      float: right;
      display: inline-block;

      &:hover{text-shadow: 0 0 4px $redColor}
    }

    h4{text-align: center}

    button[type="submit"]{margin-bottom: 10px}
  }
}

.main{
  width: 96%;
  margin: 0 auto;

  .first_sect {
    padding: 50px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background: $pageBackground;

    .slider{
      width: 66%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;

      .slider_main{
        width: 100%;

        .slick-list{
          .slick-track{
            .slick-slide{
              .slider_elem{
                width: 100%;
                height: 480px;
                box-sizing: border-box;
                border: 5px solid $newsBlock;
              }
            }
          }
        }
      }

      .slider_nav{
        width: 100%;
        margin-top: 20px;

        .slick-prev{
          left: 0;
          z-index: 5;
        }

        .slick-next,
        .slick-prev{
          height: 97.8%;
          top: 51.6%;
          background: rgba(0,0,0,0.4);
        }

        .slick-next{right: 0}

        .slick-list{
          padding-top: 6px;

          .slick-track{
            .slick-current{
              .slider_elem_nav{border: 6px solid $redColor !important}
            }

            .slick-slide{
              margin: 0 22px;
              height: 178px;

              .slider_elem_nav{
                height: 178px;
                border: 6px solid $newsBlock;
              }
            }
          }
        }
      }
    }

    @include order_form;
  }

  .second_sect{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px 0;

    &.about,
    &.faq,
    &.room,
    &.post,
    &.gallery{
      background: $pageBackground;
      margin-top: 0;
    }

    .second_sect_block{
      width: 60%;
      display: flex;
      flex-flow: column nowrap;

      h3{
      border-bottom: 1px solid $pageBackground;
      padding-bottom: 10px;
      font: normal normal 30px 'Georgia', sans-serif;
    }
   }

    .about_block,
    .faq_block,
    .room_block,
    .post_block,
    .gallery_block{
      padding: 20px;

      h3{
        margin-top: 0;
        border-bottom: 1px solid $docBackground;
      }
    }

    .home_block{
      img{
        width: 100%;
        height: 200px;
      }

      .info_hotel_blocks,
      .info_room_blocks{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      .info_hotel{
        h3{margin-top: 0}

        .info_hotel_blocks{
          color: #111;

          .info_hotel_block{
            background: $newsBlock;
            width: 44%;
            padding: 10px 20px;
            font: normal normal 12px 'Verdana', sans-serif;

            header{
              text-align: center;
              border-bottom: 1px solid black;
              padding-bottom: 10px;
              margin-bottom: 20px;

              h4{
                font: normal normal 20px 'Georgia', sans-serif;
                margin: 0;
              }
            }

            footer{
              position: relative;
              text-align: right;

              a{
                font: bold normal 13px 'Verdana', sans-serif;
                color: $redColor;

                &:hover{text-shadow: 0 0 4px $redColor}
              }
            }

            &:not(:last-child){margin-right: 20px}
          }
        }
      }

      .info_room{
        h3{margin-top: 30px}

        .info_room_blocks{
          width: 100%;

          .info_room_block{
            width: 48%;

            header{
              h4{
                font: normal normal 13px 'Georgia', sans-serif;
                border-bottom: 1px solid $pageBackground;
                padding-bottom: 5px;
              }
            }

            p{font: normal normal 12px 'Verdana', sans-serif}

            footer{
              text-align: right;

              a{
                font: normal normal 13px 'Verdana', sans-serif;
                color: $linkColor;

                &:hover{text-shadow: 0 0 4px $linkColor}
              }
            }

            &:not(:last-child){margin-right: 20px}
          }
        }
      }
    }

    .about_block,
    .post_block{
      .about_image,
      .post_image{
        margin: 0 auto;

        img{
          width: 100%;
          height: 100%;
        }
      }

      .about_text,
      .post_text{

        h4{font: normal normal 20px 'Georgia', sans-serif}

        p{font: normal normal 12px 'Verdana', sans-seri}
      }
    }

    .faq_block{
      .accordion{
        padding: 0;

        .inner{
          overflow: hidden;
          display: none;
        }

        .accordion_elem{

          a.toggle{
            width: 97.8%;
            display: block;
            background: $navElementBackground;
            padding: 20px 0 20px 2%;
            color: #fff;
            font: normal normal 14px 'Verdana', sans-serif;
            transition: all 0.5s linear;

            &:hover{background: $navActiveElementBackground}
          }
        }
      }
    }


    .room_block{
      .room_container{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        color: #111;

        .room_block_elem{
          margin-bottom: 20px;
          background: $newsBlock;
          width: 44%;
          padding: 10px 10px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;

          header{
            text-align: center;
            border-bottom: 1px solid black;
            padding-bottom: 10px;
            margin-bottom: 20px;

            h4{
              font: normal normal 20px 'Georgia', sans-serif;
              margin: 10px 0 0 0;
            }

            img{
              width: 100%;
              min-height: 200px;
              max-height: 140px;
            }
          }


          .room_main_info{
            font: normal normal 12px 'Verdana', sans-serif;

            .room_count,
            .people_count{font-weight: bold}

            .room_count{
              span{margin-left: 6.6px}
            }
          }

          footer{
            position: relative;
            text-align: right;
            font: bold normal 16px 'Verdana', sans-serif;
            color: $redColor;
            z-index: 10;

            .order_room{
              width: 100%;
              background: $redColor;
              border: 1px solid black;
              color: #fff;
              margin: 10px 0 0 0;
              padding: 6px 0;
              transition: all 0.2s linear;


              &:hover{
                box-shadow: 0 0 4px 1px $redColor;
              }
            }
          }


          &:not(:nth-child(2n)){margin-right: 2%}
        }
      }
    }

    .gallery_block{
      .gallery_images{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        .gallery_image{
          width: 30%;

          margin-bottom: 20px;
          cursor: pointer;
          transition: all 0.6s linear;
          position: relative;

          img{
            width: 100%;
            height: 100%;
          }

          &:not(:nth-child(3n)){margin-right: 3%}
        }
      }
    }

    .info_menu{
      width: 36%;

    &.pd{padding: 0 20px 20px 10px}

      .menu_last_info{
        .last_info_block{
          header{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;

            img{
              width: 64px;
              height: 64px;
            }

            h5{
              margin-left: 10px;
              font: normal normal 20px 'Georgia', sans-serif;
            }
          }

          p{font: normal normal 12px 'Verdana', sans-serif}

          footer{
            text-align: right;

            a{
              color: $linkColor;

              &:hover{text-shadow: 0 0 4px $linkColor}
            }
          }
        }
      }

      .miniGallery{
          h3{
            border-bottom: 1px solid $pageBackground;
            padding-bottom: 10px;
            font: normal normal 30px 'Georgia', sans-serif;
          }

        .b-bottom{border-bottom: 1px solid $docBackground}

        .miniGallery_blocks{
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          .miniGallery_block{
            cursor: pointer;
            width: 110px;
            height: 110px;
            transition: all 0.6s ease-out;
            margin-top: 10px;

            &:not(:last-child){margin-right: 2.2%}

            &:hover{
              width: 120px;
              height: 120px;
            }

            img{
              border: none;
              box-shadow: none;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.footer{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font: normal normal 12px 'Verdana', sans-serif;
  background: $inputBackground;
  padding: 0 0 30px 0;

  a{color: #ffffff}

  h3{
    font: normal normal 22px 'Georgia', sans-serif;
    border-bottom: 1px solid #46291c;
    padding-bottom: 8px;
  }

  .foot_menu{
    width: 96%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 50px;

    .subscribe,
    .shortcuts,
    .hotel_details{width: 30%}

    .subscribe{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      p{margin: 0 0 10px 0}

     .sub_form{
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;

       input{
         color: #fff;
         background: $docBackground;
         padding: 4px 0;
         border: none;
         width: 86%;
         font-size: 14px;
       }

       .go{
         width: 10%;
         padding: 8px 0;
         font-size: 14px;
         color: #fff;
         background: $docBackground;
         border: none;
       }
     }

      a{
        margin-bottom: 80px;
        margin-top: 10px;
      }
    }

    .shortcuts{
      display: flex;
      flex-flow: column nowrap;

      a{padding-bottom: 10px}
    }

    .hotel_details{

      ul{
        padding: 0;

        li{padding-bottom: 10px}
      }
    }
  }

  .copyright{
    width: 96%;
    padding: 4px 10px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: $copyrightBackground;
  }
}

@media screen and (min-width: $laptopL){
  .main{
    .first_sect {
      .slider{
        .slider_main{
          .slick-list{
            .slick-track{
              .slick-slide{
                .slider_elem {height: 580px}
              }
            }
          }
        }
      }

      .order{
        .room_info{
          position: relative;
          top: 28%;

          h4{margin: 0}

          .pdf_file{
            background: $newsBlock;
            border: none;
            padding: 10px;
            color: $redColor;

            img{float: left}

            p{
              width: 80%;
              float: right;
              font: normal normal 11px 'Verdana', sans-serif;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $laptopM) {
  .modal_room_order{
    .order{
      width: 40%;
      left: 30%;
    }
  }

  .main {
    .first_sect {
      .slider{
        .slider_main{
          .slick-list{
            .slick-track{
              .slick-slide{
                .slider_elem{height: 480px !important}
              }
            }
          }
        }

        .slider_nav{
          .slick-list{
            .slick-track{
              .slick-slide{
                height: 136px !important;

                .slider_elem_nav{height: 136px !important}
              }
            }
          }
        }
      }
    }

    .second_sect{
      .home_block{
        img{height: 150px}
      }
    }
  }
}

@media screen and (max-width: $laptopS) {
  .main {
    .first_sect {
      .slider{
        .slider_main{
          .slick-list{
            .slick-track{
              .slick-slide{
                .slider_elem{height: 480px !important}
              }
            }
          }
        }

        .slider_nav{
          .slick-list{
            .slick-track{
              .slick-slide{
                height: 126px !important;

                .slider_elem_nav{height: 126px !important}
              }
            }
          }
        }
      }
    }

    .second_sect{
      .home_block{
        img{height: 150px}
      }
    }
  }
}

@media screen and (max-width: $laptopES){
  .gallery_images_fullSize{
    .fullSize_image{
      left: 20%;
      width: 60%;
    }
  }

  .main{
    .first_sect {
      flex-flow: column nowrap;
      align-items: center;

      .slider{
        width: 90%;

        .slider_main{
          width: 100%;

          .slick-list{
            .slick-track{
              .slick-slide{
                .slider_elem{height: 50vw !important}
              }
            }
          }
        }

        .slider_nav{
          .slick-list{
           .slick-track{
              .slick-slide{
                margin: 0 22px;
                height: 15vw !important;

                .slider_elem_nav{height: 15vw !important}
              }
            }
          }
        }
      }

      .order{
        width: 90%;
        margin-top: 40px;

        label{width: 100%}

        input{
          width: 100%;
          padding: 15px 5px;
        }

        &:not(h4){font: normal normal 14px 'Verdana', sans-serif}


        .arrival_date,
        .departure_date{
          display: flex;
          justify-content: space-between;

          input{width: 30%}
        }

        .people_age{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;

          .adults,
          .children{width: 100%}

          .adult_age,
          .children_age{width: 47%}

          .adult_age{margin-right: 8px}


        }

        button[type="submit"]{
          width: 100%;
          background: $redColor;
          border: 1px solid black;
          color: #fff;
          height: 50px;
          margin: 10px 0 20px 0;
          padding: 6px 0;
          transition: all 0.2s linear;


          &:hover{
            box-shadow: 0 0 4px 1px $redColor;
          }

          &:active{
            outline: none;
          }

        }

        .room_info{
          position: relative;
          top: 0;

          h4{margin: 0}

          .pdf_file{
            width: 100%;
            background: $newsBlock;
            padding: 10px;
            color: $redColor;

            img{float: left}

            p{
              width: 80%;
              float: right;
              font: normal normal 11px 'Verdana', sans-serif;
            }
          }
        }
      }
    }

    .second_sect{

      .home_block{
        img{height: 110px}
      }

      .room_block{
        .room_container{
          flex-flow: column wrap;
          align-items: center;

          .room_block_elem{
             width: 95%;

            header{
              img{
                min-height: 300px;
                max-height: 400px;
              }
            }

            &:not(:nth-child(2n)){
              margin-right: 0;
            }
          }
        }
      }

      .gallery_block{
        .gallery_images{
          .gallery_image{
            width:48%;

            &:not(:nth-child(3n)){margin-right: 0}

            &:not(:nth-child(2n)){margin-right: 3% }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tabletL){
  .modal_room_order{
    .order{
      width: 80%;
      left: 10%;

      input{
        width: 100%;
        padding: 15px 5px;
      }

      &:not(h4){font: normal normal 14px 'Verdana', sans-serif}

      button[type="submit"]{
        padding: 20px 0 20px 0;
      }
    }
  }

  .gallery_images_fullSize{
    .fullSize_image{
      left: 9.5%;
      width: 80%;
    }
  }

  .header{
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .logo{
      width: 80%;

      img{
        border: none;
        box-shadow: 0 0 0 0 $redColor;
      }

      p{
        font: bold normal 16px 'Georgia', sans-serif;
        margin: 0;
        color: #fff;
      }
    }

    nav{
      .social_list,
      .menu_list{display: none}
    }

    .nav_mobile{

      background: rgba(65,39,24,0.96);
      position: fixed;
      height: 100%;
      top: 0;
      z-index: 100;
      width: 96%;
      right: 1000px;
      transition: left 0.6s linear;


      &.active{
        right: 2%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

      }

      .mod_exit{
        margin: 10px 0 20px 0;
        a{
          color: $navElementBackground;
        }
      }

      .logo{
        width: 51.6%;
        margin: 0 auto;

        img{
          margin: 0;
          width: 100%;
          height: 100%;
        }

        p{
          text-align: center;
        }
      }

      .social_mob_list{
        margin: 0 auto;
        .social{
          color: $navElementBackground;

          &:not(:last-child){
            margin-right: 10px;
          }

        }
      }

      .menu_mob_list{
        font: normal normal 14px 'Verdana', sans-serif;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 100%;
        height: 200px;
        padding: 0;
        .menu_elem{
          width: 100%;
          margin: 4px 0 0 0;
          height: 45px;
          z-index: 10;
          background: $navElementBackground;
          a{
            text-align: center;
            color: #fff;

            width: 100%;
            display: block;
            padding: 8px 0 11px 0;
          }

          &.active{background: $navActiveElementBackground}
        }
      }

    }
    
    .mob_btn{
      color: $navElementBackground;
      display: block;
    }
  }

  .main{
    .first_sect {
      .slider{
        .slider_nav{
          .slick-list{
            .slick-track{
              .slick-slide{margin: 0 0.2%}
            }
          }
        }
      }
    }

    .second_sect{
      flex-flow: column nowrap;
      align-items: center;

      .second_sect_block{
        width: 90%;
        flex-flow: column nowrap;
      }

      .info_menu{
        width: 90%;
        margin-top: 30px;

        .miniGallery{
          .miniGallery_blocks{
            justify-content: center !important;

            .miniGallery_block{margin: 0 11px 10px 10px}
          }
        }
      }
    }
  }

  .footer{
    .foot_menu{
      width: 96%;
      flex-flow: column nowrap;
      align-items: center;

      .subscribe,
      .shortcuts,
      .hotel_details{width: 60%}

      .shortcuts{margin-bottom: 80px}
    }
  }
}

@media screen and (max-width: $tabletS){

  .gallery_images_fullSize{
    .fullSize_image{height: 400px}
  }

  .main{
  .second_sect{
    flex-flow: column nowrap;
    align-items: center;

    .home_block{
      h3{text-align: center}



      width: 90%;
      flex-flow: column nowrap;


      .info_hotel{
        img{height: 140px}

        .info_hotel_blocks{
          flex-direction: column;
          align-items: center;

          .info_hotel_block{
            width: 90%;
            margin-right: 0 !important;
            margin-top: 20px;
          }
        }
      }
    }

    .gallery_block{
      .gallery_images{
        .gallery_image{
          width: 100%;

          &:not(:nth-child(2n)){margin-right: 0 }
        }
      }
    }

    .info_menu{
      width: 90%;
      margin-top: 30px;
    }
   }
  }

.footer{
  .copyright{
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
    text-align: center;
  }
}

}

@media screen and (max-width: $mobileL){
  .gallery_images_fullSize{
    .fullSize_image{height: 300px}
  }

  .main{
    .second_sect{
      .room_block{
        .room_container{
          .room_block_elem{
            header{
              img{min-height: 250px}
            }
          }
        }
      }

      .home_block {
        .info_room{
          .info_room_blocks{
            flex-direction: column;
            align-items: center;

            .info_room_block{
              width: 90%;
              margin-top: 30px;
              margin-right: 0 !important;
            }
          }
        }
      }
    }
  }

  .footer{
    font: normal normal 10px 'Verdana', sans-serif;

    h3{font: normal normal 20px 'Georgia', sans-serif}

    .foot_menu{
      .subscribe{
        .sub_form{
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          input{width: 76%}

          .go{width: 20%}
        }
      }
    }
  }
}







